{% extends 'base.html.twig' %}

{% block title %}Ajouter un genre{% endblock %}

{% block body %}
    <h1 class="text-xl font-bold text-center text-teal-900 my-6">Ajouter un genre</h1>
    {% include './genre/_form.html.twig' %}
{% endblock %}
