{% extends 'base.html.twig' %} {% block title %}Toutes les chansons{% endblock %}
{% block body %}
<h1 class="text-center text-2xl font-extrabold my-5">Toutes les chansons</h1>

<div class="grid grid-cols-4 gap-4 px-6">
  {% for song in songs %}
    {% include './components/song-card.html.twig' %}
  {% else %}
  <span>Aucune chanson trouvé</span>
  {% endfor %}
</div>
{% endblock %}
