{% extends 'base.html.twig' %} {% block title %}Tous les artistes{% endblock %}
{% block body %}
<h1 class="text-center text-2xl font-extrabold my-5">Tous les artistes</h1>

<div class="grid grid-cols-4 gap-4 px-6">
  {% for artist in artists %}
    {% include './components/artist-card.html.twig' %}
  {% else %}
  <span>Aucun artiste trouvé</span>
  {% endfor %}
</div>
{% endblock %}
